<h3 align="center">toolkit-utils</h3>
<p align="center">A set of reusable classes and utilities for creating toolkits</p>

---

> ⚠️ This is very much work in progress. The API will be facing breaking changes until it is no longer alpha.

Inspired by ["Tools without config"](https://blog.kentcdodds.com/automation-without-config-412ab5e47229), ["The Melting Pot of JavaScript"](https://youtu.be/G39lKaONAlA), and [kcd-scripts](https://github.com/kentcdodds/kcd-scripts).

This library provides utility classes and methods for creating toolkits, used to abstract much of the overhead involved in regular JS and TS tasks, such as testing, linting, formatting, building, etc.

<!-- START doctoc -->
<!-- END doctoc -->

# API

{{>main}}
